{{ $page := .page }}
{{ $featured := .featured | default false }}
{{ $class := "page-card" }}
{{ if $featured }}
  {{ $class = "page-card featured" }}
{{ end }}
{{ $image := partial "imagextractor.html" $page }}
<section class="{{ $class }}">
    <h2 class="page-card-title">
        {{ if $page.Draft }}<span class="draft-badge">DRAFT</span>{{ end }}
        <a href="{{ $page.RelPermalink }}">{{ $page.LinkTitle }}
            {{if $page.Params.subtitle }}: {{ $page.Params.subtitle }}{{ end }}
        </a>
    </h2>
    <div>
        <div class="page-card-img-wrapper">
            <img src="{{ $image.url }}?v={{ now.Unix }}" alt="{{ $image.alt }}" class="page-card-img image-left" />
        </div>
        {{ partial "cleanSummary.html" $page }}
        {{ with $page.GetTerms "tags" }}
        <div class="page-card-tags">
            {{ range . }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>