{{ define "main" }}
<div class="term">
  <nav class="nav">
    {{ partial "tagcloud.html" . }}
  </nav>
  <div class="posts">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ $allPages := sort .Pages "Date" "desc" }}
    {{ $featuredPages := where $allPages "Params.featured" true }}
    {{ if $featuredPages }}
      {{ range $featuredPages }}
        {{ partial "pageCard.html" (dict "page" . "featured" true) }}
      {{ end }}
      {{ $nonFeatured := where $allPages "Params.featured" "ne" true }}
      {{ range $nonFeatured }}
        {{ partial "pageCard.html" (dict "page" . "featured" false) }}
      {{ end }}
    {{ else }}
      {{ with index $allPages 0 }}
        {{ partial "pageCard.html" (dict "page" . "featured" true) }}
      {{ end }}
      {{ range after 1 $allPages }}
        {{ partial "pageCard.html" (dict "page" . "featured" false) }}
      {{ end }}
    {{ end }}
  </div>
</div>
{{ end }}